body {
    background-color: black;
}
img {
    width: 228px;
    height: 304px;
    border: solid white 5px;
    display: block;
    margin: 0 auto;
}
input {
    display: block;
    margin: 0 auto;
}
button {
    display: block;
    margin: 0 auto;
}
p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}