body {
    background-color: black;
}
img {
    border: solid white 5px;
    display: block;
    margin: 0 auto;
}
p {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}