body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}
.logo-wrapper{
  width: 140px;                   
  aspect-ratio: 60 / 91;          
  border: 6px solid #fff;
  border-radius: 50%;              
  overflow: hidden;
  background-image: url("notguilty.png");
  background-repeat: no-repeat;
  background-size: cover;          
  background-position: center;     
  box-shadow: 0 0 0 3px rgba(0,0,0,0.5) inset;
}


@media (max-width:480px){
  .logo-wrapper { width: 90px; }
}


.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid white;
  border-radius: 100%;
}

.title-wrap {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 110px;
  color: white;
  font-family: "Freckle Face", cursive; /* chalk/sketch font */
  letter-spacing: 5px;
  text-shadow:
    3px 3px 0px rgba(255,255,255,0.2),
    -2px -2px 0px rgba(255,255,255,0.2);
}

.subtitle {
  margin-top: 10px;
  font-size: 22px;
  color: white;
  font-weight: 300;
}

.start-button {
  background: linear-gradient(#e0e0e0, #7f7f7f);
  border: none;
  padding: 15px 35px;
  font-size: 24px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  display: inline-block; 
  text-align: center;
}
.start-button:hover {
  filter: brightness(1.1);
}
.center {
  display: flex;
  justify-content: center;
}
.quote {
    color: white;
    font-weight: bolder;
    text-align: center;
}
h2 {
    color: lightblue;
    font-weight: bolder;
    text-align: center;
}
.quotes {
    color: white;
    text-align: center;
}
